@model PagedList.IPagedList<Catalogue.Models.Tables.Employee>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">

                @using (Ajax.BeginForm("EmployeeFilter", "Search", null, new AjaxOptions
                {
                    UpdateTargetId = "results",
                    LoadingElementId = "loading",
                    OnSuccess = "hideAccordion()"
                }, new { @class = "ajax-form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="header">

                        <h3 id="title">
                            Поиск <span id="loading" class="loading" style="display:none">
                                <span>
                                    <?xml version="1.0" encoding="UTF-8" standalone="no" ?>
                                    <svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" width="16px" height="16px" viewBox="0 0 128 128" xml:space="preserve"><g><linearGradient id="linear-gradient"><stop offset="0%" stop-color="#ffffff" /><stop offset="100%" stop-color="#454445" /></linearGradient><path d="M63.85 0A63.85 63.85 0 1 1 0 63.85 63.85 63.85 0 0 1 63.85 0zm.65 19.5a44 44 0 1 1-44 44 44 44 0 0 1 44-44z" fill="url(#linear-gradient)" fill-rule="evenodd" /><animateTransform attributeName="transform" type="rotate" from="0 64 64" to="360 64 64" dur="1080ms" repeatCount="indefinite"></animateTransform></g></svg>
                                </span>
                            </span>
                        </h3>
                        <div class="row">
                            <div class="col-md-11">
                                <input type="text" id="name" class="form-control" name="name" placeholder="впишите имя сотрудника">
                            </div>
                            <div class="col-md-1">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><span class="fa fa-search"></span> Искать</button>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label class="control-label" for="administration-select-list">Выберите орган управления (опционально)</label>
                                <select id="administration-select-list" class="form-control" name="administrationId">
                                    <option selected=selected value="">Орган управления</option>
                                    @foreach (Catalogue.Models.Tables.Administration administration in ViewBag.Admins)
                                    {
                                        <option value="@administration.AdministrationId">@administration.AdministrationName</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label" for="division-select-list">Выберите регион (опционально)</label>
                                <select id="division-select-list" class="form-control" name="divisionId">
                                    <option selected=selected value="">Регион</option>
                                    @foreach (Catalogue.Models.Tables.Division division in ViewBag.Divisions)
                                    {
                                        <option value="@division.DivisionId">@division.DivisionName</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label" for="department-select-list">Выберите отдел (опционально)</label>
                                <select id="department-select-list" class="form-control" name="departmentId">
                                    <option selected=selected value="">Отдел</option>
                                    @foreach (Catalogue.Models.Tables.Department department in ViewBag.Departments)
                                    {
                                        <option value="@department.DepartmentId">@department.DepartmentName</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label" for="position-select-list">Выберите должность (опционально)</label>
                                <select class="form-control" id="position-select-list" name="positionId">
                                    <option selected value="">Должность</option>
                                    @foreach (Catalogue.Models.Tables.Position position in ViewBag.Positions)
                                    {
                                        <option value="@position.PositionId">@position.PositionName</option>
                                    }
                                </select>
                            </div>                                                
                        </div>
                    </div><!-- /input-group -->
                }

                <hr>

                <div id="results"></div>

                <div id="accordion" class="content">
                    <table class="table table-hover table-responsive table-condensed table-striped">
                        <caption>Список сотрудников</caption>
                        <tbody>
                            <tr>
                                <th class="col-md-3">ФИО</th>
                                <th class="col-md-3">Отдел</th>
                                <th class="col-md-2">Должность</th>
                                <th class="col-md-2">Телефон</th>
                                <th style="text-align: center;">Действие</th>
                            </tr>

                            @foreach (Catalogue.Models.Tables.Employee item in Model)
                            {
                                <tr>
                                    <td class="td-title">@Html.DisplayFor(model => item.EmployeeFullName)</td>
                                    <td class="td-title">@Html.DisplayFor(model => item.Department.DepartmentName)</td>
                                    <td class="td-title">@Html.DisplayFor(model => item.Position.PositionName)</td>
                                    <td class="td-title">(@Html.DisplayFor(model => item.Department.Administration.AdministrationCode)) @Html.DisplayFor(model => item.EmployeePhone)</td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-default" name="detailsButton" id="detailsButton" href="@Url.Action("EmployeeDetails","Search", new {id = item.EmployeeId})"><i class="fa fa-eye" aria-hidden="true" title="Просмотреть" data-toggle="tooltip" data-placement="top"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="@Url.Content("~/Scripts/pagination.js")"></script>
    <script>
        pagination();
    </script>
}





