@model PagedList<Catalogue.Models.Tables.Administration>
@using PagedList;
@using PagedList.Mvc;

<table class="table table-striped" id="listTable">
    <tr>
        <!-- Field ComboBox DivisionName -->
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.First().Division.DivisionName)
        </th>
        <!-- Field AdministrationName -->
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.First().AdministrationName)
        </th>
        <!-- Field AdministrationPost -->
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.First().AdministrationPost)
        </th>
        <!-- Field AdministrationAddress -->
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.First().AdministrationAddress)
        </th>
        <!-- Field AdministrationFax -->
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.First().AdministrationFax)
        </th>
        <!-- Field AdministrationEMail -->
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.First().AdministrationEMail)
        </th>
        <!-- Field AdministrationSkype -->
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.First().AdministrationSkype)
        </th>
        <th style="text-align: center;">
            Действия
        </th>
    </tr>

    @foreach (var item in Model)
    {
        var myModal = "myModal" + item.AdministrationId;
        <tr>
            <!-- Field ComboBox DivisionName -->
            <td class="td-title">
                @Html.DisplayFor(modelItem => item.Division.DivisionName)
            </td>
            <!-- Field AdministrationName -->
            <td class="td-title">
                @Html.DisplayFor(modelItem => item.AdministrationName)
            </td>
            <!-- Field AdministrationPost -->
            <td class="td-title">
                @Html.DisplayFor(modelItem => item.AdministrationPost)
            </td>
            <!-- Field AdministrationAddress -->
            <td class="td-title">
                @Html.DisplayFor(modelItem => item.AdministrationAddress)
            </td>
            <!-- Field AdministrationFax -->
            <td class="td-title">
                @Html.DisplayFor(modelItem => item.AdministrationFax)
            </td>
            <!-- Field AdministrationEMail -->
            <td class="td-title">
                @Html.DisplayFor(modelItem => item.AdministrationEMail)
            </td>
            <!-- Field AdministrationSkype -->
            <td class="td-title">
                @Html.DisplayFor(modelItem => item.AdministrationSkype)
            </td>
            <!-- Buttons Edit, Details, Delete -->
            <td>
                <div class="btn-group">
                    <a class="btn btn-default" name="editButton" id="editButton" href="@Url.Action("Edit","Administration", new {id = item.AdministrationId})"><i class="fa fa-pencil" aria-hidden="true" title="Редактировать" data-toggle="tooltip" data-placement="top"></i></a>
                    <a class="btn btn-default" name="detailsButton" id="detailsButton" href="@Url.Action("Details","Administration", new {id = item.AdministrationId})"><i class="fa fa-eye" aria-hidden="true" title="Просмотреть" data-toggle="tooltip" data-placement="top"></i></a>
                    <a class="btn btn-default" name="deleteButton" id="deleteButton" href="@Url.Action("Delete","Administration", new {id = item.AdministrationId})" data-toggle="modal" data-target="#@myModal"
                       data-whatever="@item.AdministrationId"><i class="fa fa-trash" aria-hidden="true" title="Удалить" data-toggle="tooltip" data-placement="top"></i></a>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="@myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Удаление</h4>
                            </div>
                            <div class="modal-body">
                                Вы точно хотите удалить: <span><b>@item.AdministrationName</b></span>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                <input type="submit" value="Удалить" class="btn btn-danger" id="btn1" />
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    }   
</table>
<!-- Pagination -->
@Html.PagedListPager(Model, page => Url.Action("AjaxPositionList", new { page }),
         PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "result"}))
        Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount                    