@model Catalogue.Models.Tables.Administration

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AminPanel.cshtml";
}

<h2>Удаление административных органов управления</h2>

<h3>Вы действительно хотите удалить запись?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdministrationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdministrationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdministrationPost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdministrationPost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdministrationAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdministrationAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdministrationFax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdministrationFax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdministrationEMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdministrationEMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdministrationSkype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdministrationSkype)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdministrationCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdministrationCode)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
