@model Catalogue.Models.Tables.Administration

@{
    ViewBag.Title = "Просмотр органа управления";
    Layout = "~/Views/Shared/_AminPanel.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h2>Просмотр административного органа управления</h2>
                </div>
                <div class="content">
                    <div>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.AdministrationName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.AdministrationName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.AdministrationPost)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.AdministrationPost)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.AdministrationAddress)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.AdministrationAddress)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.AdministrationFax)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.AdministrationFax)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.AdministrationEMail)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.AdministrationEMail)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.AdministrationSkype)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.AdministrationSkype)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.AdministrationCode)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.AdministrationCode)
                            </dd>

                        </dl>
                    </div>
                    <p>
                        <a class="btn btn-default" name="editButton" id="editButton" href="@Url.Action("Edit","Administration", new {id = Model.AdministrationId})">Редактировать</a> |
                        <a class="btn btn-default" name="backButton" id="backButton" href="@Url.Action("Index","Administration")">Назад</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>




