@model Catalogue.Models.Tables.Administration

@{
    ViewBag.Title = "Просмотр органа управления";
    Layout = "~/Views/Shared/_AminPanel.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h2>Просмотр административного органа управления</h2>
                </div>
                <div class="content">
                    <div>
                        <hr />
                        <dl class="dl-horizontal">
                            <!-- Field DivisionName -->
                            <dt style="width:200px;">
                                @Html.DisplayNameFor(model => model.Division.DivisionName)
                            </dt>
                            <dd style="margin-left:15%;">
                                @Html.DisplayFor(model => model.Division.DivisionName)
                            </dd>
                            <!-- Field AdministrationName -->
                            <dt style="width:200px;">
                                @Html.DisplayNameFor(model => model.AdministrationName)
                            </dt>
                            <dd style="margin-left:15%;">
                                @Html.DisplayFor(model => model.AdministrationName)
                            </dd>                          
                            <!-- Field AdministrationPost -->
                            <dt style="width:200px;">
                                @Html.DisplayNameFor(model => model.AdministrationPost)
                            </dt>
                            <dd style="margin-left:15%;">
                                @Html.DisplayFor(model => model.AdministrationPost)
                            </dd>
                            <!-- Field AdministrationAddress -->
                            <dt style="width:200px;">
                                @Html.DisplayNameFor(model => model.AdministrationAddress)
                            </dt>
                            <dd style="margin-left:15%;">
                                @Html.DisplayFor(model => model.AdministrationAddress)
                            </dd>
                            <!-- Field AdministrationFax -->
                            <dt style="width:200px;">
                                @Html.DisplayNameFor(model => model.AdministrationFax)
                            </dt>
                            <dd style="margin-left:15%;">
                                @Html.DisplayFor(model => model.AdministrationFax)
                            </dd>
                            <!-- Field AdministrationEMail -->
                            <dt style="width:200px;">
                                @Html.DisplayNameFor(model => model.AdministrationEMail)
                            </dt>
                            <dd style="margin-left:15%;">
                                @Html.DisplayFor(model => model.AdministrationEMail)
                            </dd>
                            <!-- Field AdministrationSkype -->
                            <dt style="width:200px;">
                                @Html.DisplayNameFor(model => model.AdministrationSkype)
                            </dt>
                            <dd style="margin-left:15%;">
                                @Html.DisplayFor(model => model.AdministrationSkype)
                            </dd>
                            <!-- Field AdministrationCode -->
                            <dt style="width:200px;">
                                @Html.DisplayNameFor(model => model.AdministrationCode)
                            </dt>
                            <dd style="margin-left:15%;">
                                @Html.DisplayFor(model => model.AdministrationCode)
                            </dd>

                        </dl>
                    </div>
                    <!-- Buttons Edit and Back -->
                    <p>
                        <a class="btn btn-default" name="editButton" id="editButton" href="@Url.Action("Edit","Administration", new {id = Model.AdministrationId})">Редактировать</a> |
                        <a class="btn btn-default" name="backButton" id="backButton" href="@Url.Action("Index","Administration")">Назад</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>




