@model PagedList<Catalogue.Models.Tables.Administration>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AminPanel.cshtml";
}

<h2>Административные органы управления</h2>

<p>
    @Html.ActionLink("Добавить новую запись", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().AdministrationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().AdministrationPost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().AdministrationAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().AdministrationFax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().AdministrationEMail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().AdministrationSkype)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().AdministrationCode)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdministrationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdministrationPost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdministrationAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdministrationFax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdministrationEMail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdministrationSkype)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdministrationCode)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.AdministrationId }) |
                @Html.ActionLink("Просмотреть", "Details", new { id = item.AdministrationId }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.AdministrationId })
            </td>
        </tr>
    }
</table>
<br />

Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
