@model PagedList<Catalogue.Models.Tables.Department>
@using PagedList;
@using PagedList.Mvc;

<table class="table table-striped" id="listTable">
    <tr>
        <!-- Field DepartmentName -->
        <th class="col-md-5">
            @Html.DisplayNameFor(model => model.First().DepartmentName)
        </th>
        <!-- Field ComboBox AdministrationName -->
        <th class="col-md-5">
            @Html.DisplayNameFor(model => model.First().Administration.AdministrationName)
        </th>
        <th style="text-align:center;">
            Действия
        </th>
    </tr>

@foreach (var item in Model) {
    var myModal = "myModal" + item.DepartmentId;
    <tr>
        <!-- Field DepartmentName -->
        <td class="td-title">
            @Html.DisplayFor(modelItem => item.DepartmentName)
        </td>
        <!-- Field ComboBox AdministrationName -->
        <td class="td-title">
            @Html.DisplayFor(modelItem => item.Administration.AdministrationName)
        </td>
        <!-- Buttons Edit, Details, Delete -->
        <td>
            <div class="btn-group">
                <a class="btn btn-default" name="editButton" id="editButton" href="@Url.Action("Edit","Department", new {id = item.DepartmentId})"><i class="fa fa-pencil" aria-hidden="true" title="Редактировать" data-toggle="tooltip" data-placement="top"></i></a>
                <a class="btn btn-default" name="detailsButton" id="detailsButton" href="@Url.Action("Details","Department", new {id = item.DepartmentId})"><i class="fa fa-eye" aria-hidden="true" title="Просмотреть" data-toggle="tooltip" data-placement="top"></i></a>
                <a class="btn btn-default" name="deleteButton" id="deleteButton" href="@Url.Action("Delete", "Department", new { id = item.DepartmentId})" data-toggle="modal" data-target="#@myModal"
                   data-whatever="@item.DepartmentId"><i class="fa fa-trash" aria-hidden="true" title="Удалить" data-toggle="tooltip" data-placement="top"></i></a>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="@myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Удаление</h4>
                        </div>
                        <div class="modal-body">
                            Вы точно хотите удалить: <span><b>@item.DepartmentName</b></span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                            <input type="submit" value="Удалить" class="btn btn-danger" id="btn1"/>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
}

</table>
<!-- Pagination -->
        @Html.PagedListPager(Model, page => Url.Action("AjaxPositionList", new { page }),
         PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "result"}))
        Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
