@model Catalogue.Models.Tables.Department

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AminPanel.cshtml";
}

<h2>Просмотр отдела</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Administration.AdministrationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Administration.AdministrationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.DepartmentId }) |
    @Html.ActionLink("Назад", "Index")
</p>
