@model PagedList<Catalogue.Models.Tables.Department>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Отделы";
    Layout = "~/Views/Shared/_AminPanel.cshtml";
}

<div class="container-fluid">

    <div id="se-pre-con" style="display:none;"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h2>Отделы</h2>
                    <p>
                        <a class="btn btn-default" name="createButton" id="createButton" href="@Url.Action("Create","Department")">Добавить новую запись</a>
                    </p>
                </div>
                <hr />
                @using (Ajax.BeginForm("AdminSearch", "Search", null,

                new AjaxOptions
                {
                    UpdateTargetId = "results",
                    LoadingElementId = "loading",
                    OnSuccess = "hideAccordion()"
                },
                new { @class = "ajax-form", @id="ajax-form" }))

                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="type" value="department" />
                    <div class="header">
                        <div class="row">
                            <div class="col-md-11">
                                <input type="text" class="form-control" id="xyz-search-input" name="title" placeholder="Введите название отдела" required>
                            </div>
                            <div class="col-md-1">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><span class="fa fa-search"></span> Искать <span id="loading" class="loading" style="display:none"><svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" width="16px" height="16px" viewBox="0 0 128 128" xml:space="preserve"><g transform="rotate(352.65 64.0001 64.0001)"><linearGradient id="linear-gradient"><stop offset="0%" stop-color="#ffffff"></stop><stop offset="100%" stop-color="#454445"></stop></linearGradient><path d="M63.85 0A63.85 63.85 0 1 1 0 63.85 63.85 63.85 0 0 1 63.85 0zm.65 19.5a44 44 0 1 1-44 44 44 44 0 0 1 44-44z" fill="url(#linear-gradient)" fill-rule="evenodd"></path><animateTransform attributeName="transform" type="rotate" from="0 64 64" to="360 64 64" dur="1080ms" repeatCount="indefinite"></animateTransform></g></svg></span></button>
                                </span>
                            </div>
                        </div>
                    </div><!-- /input-group -->
                }

                <hr>

                <div id="results" class="content"></div>

                <div class="content" id="accordion">

                    <table class="table table-striped" id="listTable">
                        <tr>
                            <th class="col-md-5">
                                @Html.DisplayNameFor(model => model.First().DepartmentName)
                            </th>
                            <th class="col-md-5">
                                @Html.DisplayNameFor(model => model.First().Administration.AdministrationName)
                            </th>
                            <th style="text-align:center;">
                                Действия
                            </th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            var myModal = "myModal" + item.DepartmentId;
                            <tr>
                                <td class="td-title">
                                    @Html.DisplayFor(modelItem => item.DepartmentName)
                                </td>
                                <td class="td-title">
                                    @Html.DisplayFor(modelItem => item.Administration.AdministrationName)
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-default" name="editButton" id="editButton" href="@Url.Action("Edit","Department", new {id = item.DepartmentId})"><i class="fa fa-pencil" aria-hidden="true" title="Редактировать" data-toggle="tooltip" data-placement="top"></i></a>
                                        <a class="btn btn-default" name="detailsButton" id="detailsButton" href="@Url.Action("Details","Department", new {id = item.DepartmentId})"><i class="fa fa-eye" aria-hidden="true" title="Просмотреть" data-toggle="tooltip" data-placement="top"></i></a>
                                        <a class="btn btn-default" name="deleteButton" id="deleteButton" href="@Url.Action("Delete", "Department", new { id = item.DepartmentId})" data-toggle="modal" data-target="#@myModal"
                                           data-whatever="@item.DepartmentId"><i class="fa fa-trash" aria-hidden="true" title="Удалить" data-toggle="tooltip" data-placement="top"></i></a>

                                    </div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="@myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog modal-sm" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Удаление</h4>
                                                </div>
                                                <div class="modal-body">
                                                    Вы точно хотите удалить: <span><b>@item.DepartmentName</b></span>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                                    <input type="submit" value="Удалить" class="btn btn-danger" id="btn1"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                        }
                    </table>

                    <div id="result"> </div>

                    <div id="paginationToDelete">
                        @Html.PagedListPager(Model, page => Url.Action("AjaxPositionList", new { page }),
PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "result", OnSuccess = "removeListAndPagination()" }))
                        Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        check_input("Введите название отдела");
    </script>
}