@model PagedList<Catalogue.Models.Tables.Department>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Отделы";
    Layout = "~/Views/Shared/_AminPanel.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h2>Отделы</h2>
                    <p>
                        @Html.ActionLink("Добавить новую запись", "Create")
                    </p>
                </div>
                <div class="content">
                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.First().DepartmentName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().Administration.AdministrationName)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Administration.AdministrationName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DepartmentName)
                                </td>
                                <td>
                                    @Html.ActionLink("Редактировать", "Edit", new { id = item.DepartmentId }) |
                                    @Html.ActionLink("Просмотреть", "Details", new { id = item.DepartmentId }) |
                                    @Html.ActionLink("Удалить", "Delete", new { id = item.DepartmentId })
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<br />

Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))