@model PagedList<Catalogue.Models.Tables.Employee>
@using PagedList;
@using PagedList.Mvc;

<table class="table table-striped" id="listTable">
    <tr>
        <!-- Image EmployeePhoto -->
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.First().EmployeePhoto)
        </th>
        <!-- Field DepartmentName -->
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.First().Department.DepartmentName)
        </th>
        <!-- Field PositionName -->
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.First().Position.PositionName)
        </th>
        <!-- Field EmployeeFullName -->
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.First().EmployeeFullName)
        </th>
        <!-- Field EmployeeRoom -->
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.First().EmployeeRoom)
        </th>
        <!-- Field EmployeePhone -->
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.First().EmployeePhone)
        </th>
        <!-- Field DateAdoption -->
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.First().DateAdoption)
        </th>
        <!-- Field DateDismissal -->
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.First().DateDismissal)
        </th>
        <th style="text-align: center;">
            Действия
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <!-- Image EmployeePhoto -->
        <td>
            <img src="~/images/@item.EmployeePhoto" width="100" height="100" />
        </td>
        <!-- Image DepartmentName -->
        <td class="td-title">
            @Html.DisplayFor(modelItem => item.Department.DepartmentName)
        </td>
        <!-- Field PositionName -->
        <td class="td-title">
            @Html.DisplayFor(modelItem => item.Position.PositionName)
        </td>
        <!-- Field EmployeeFullName -->
        <td class="td-title">
            @Html.DisplayFor(modelItem => item.EmployeeFullName)
        </td>
        <!-- Field EmployeeRoom -->
        <td class="td-title">
            @Html.DisplayFor(modelItem => item.EmployeeRoom)
        </td>
        <!-- Field EmployeePhone -->
        <td class="td-title">
            @Html.DisplayFor(modelItem => item.EmployeePhone)
        </td>
        <!-- Field DateAdoption -->
        <td>
            @Html.DisplayFor(modelItem => item.DateAdoption)
        </td>
        <!-- Field DateDismissal -->
        <td>
            @Html.DisplayFor(modelItem => item.DateDismissal)
        </td>
        <!-- Buttons Edit, Details, Delete -->
        <td>
            <a class="btn btn-default" name="editButton" id="editButton" href="@Url.Action("Edit","Employee", new {id = item.EmployeeId})">Редактировать</a> |
            <a class="btn btn-default" name="detailsButton" id="detailsButton" href="@Url.Action("Details","Employee", new {id = item.EmployeeId})">Просмотреть</a> |
            <a class="btn btn-default" name="deleteButton" id="deleteButton" href="@Url.Action("Delete","Employee", new {id = item.EmployeeId})">Удалить</a>
        </td>
    </tr>
}
</table>
<!-- Pagination -->
@Html.PagedListPager(Model, page => Url.Action("AjaxPositionList", new { page }),
         PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "result"}))
        Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount