@model PagedList<Catalogue.Models.Tables.Employee>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Сотрудники";
    Layout = "~/Views/Shared/_AminPanel.cshtml";
}
<div id="se-pre-con" style="display:none;"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h2>Сотрудники</h2>
                    <p>
                        <a class="btn btn-default" name="createButton" id="createButton" href="@Url.Action("Create","Employee")">Добавить новую запись</a>
                    </p>
                </div>
                
                @using (Ajax.BeginForm("EmployeeFilter", "Search", null, new AjaxOptions
                {
                    UpdateTargetId = "results",
                    LoadingElementId = "loading",
                    OnSuccess = "hideAccordion()"
                }, new { @class = "ajax-form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="header">

                        <h3 id="title">
                            Поиск <span id="loading" class="loading" style="display:none">
                                <span>
                                    <?xml version="1.0" encoding="UTF-8" standalone="no" ?>
                                    <svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" width="16px" height="16px" viewBox="0 0 128 128" xml:space="preserve"><g><linearGradient id="linear-gradient"><stop offset="0%" stop-color="#ffffff" /><stop offset="100%" stop-color="#454445" /></linearGradient><path d="M63.85 0A63.85 63.85 0 1 1 0 63.85 63.85 63.85 0 0 1 63.85 0zm.65 19.5a44 44 0 1 1-44 44 44 44 0 0 1 44-44z" fill="url(#linear-gradient)" fill-rule="evenodd" /><animateTransform attributeName="transform" type="rotate" from="0 64 64" to="360 64 64" dur="1080ms" repeatCount="indefinite"></animateTransform></g></svg>
                                </span>
                            </span>
                        </h3>
                        <div class="row">
                            <div class="col-md-11">
                                <input type="text" id="name" class="form-control" name="name" placeholder="впишите имя сотрудника" required>
                            </div>
                            <div class="col-md-1">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><span class="fa fa-search"></span> Искать</button>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label class="control-label" for="administration-select-list">Выберите орган управления (опционально)</label>
                                <select id="administration-select-list" class="form-control" name="administrationId">
                                    <option selected=selected value="">Орган управления</option>
                                    @foreach (Catalogue.Models.Tables.Administration administration in ViewBag.Admins)
                                    {
                                        <option value="@administration.AdministrationId">@administration.AdministrationName</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label" for="division-select-list">Выберите регион (опционально)</label>
                                <select id="division-select-list" class="form-control" name="divisionId">
                                    <option selected=selected value="">Регион</option>
                                    @foreach (Catalogue.Models.Tables.Division division in ViewBag.Divisions)
                                    {
                                        <option value="@division.DivisionId">@division.DivisionName</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label" for="department-select-list">Выберите отдел (опционально)</label>
                                <select id="department-select-list" class="form-control" name="departmentId">
                                    <option selected value="">Отдел</option>
                                    @foreach (Catalogue.Models.Tables.Department department in ViewBag.Departments)
                                    {
                                        <option value="@department.DepartmentId">@department.DepartmentName</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label" for="position-select-list">Выберите должность (опционально)</label>
                                <select class="form-control" id="position-select-list" name="positionId">
                                    <option selected=selected value="">Должность</option>
                                    @foreach (Catalogue.Models.Tables.Position position in ViewBag.Positions)
                                    {
                                        <option value="@position.PositionId">@position.PositionName</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div><!-- /input-group -->
                }

                <hr>
                
                <div id="results"></div>

                <div class="content" id="accordion">
                    <table class="table table-striped" id="listTable">
                        <tr>
                            <th class="col-md-1">
                                @Html.DisplayNameFor(model => model.First().EmployeePhoto)
                            </th>
                            <th class="col-md-2">
                                @Html.DisplayNameFor(model => model.First().Department.DepartmentName)
                            </th>
                            <th class="col-md-1">
                                @Html.DisplayNameFor(model => model.First().Position.PositionName)
                            </th>
                            <th class="col-md-2">
                                @Html.DisplayNameFor(model => model.First().EmployeeFullName)
                            </th>
                            <th class="col-md-1">
                                @Html.DisplayNameFor(model => model.First().EmployeeRoom)
                            </th>
                            <th class="col-md-1">
                                @Html.DisplayNameFor(model => model.First().EmployeePhone)
                            </th>
                            <th class="col-md-1">
                                @Html.DisplayNameFor(model => model.First().DateAdoption)
                            </th>
                            <th class="col-md-1">
                                @Html.DisplayNameFor(model => model.First().DateDismissal)
                            </th>      
                            <th style="text-align: center;">
                                Действия
                            </th>                     
                        </tr>

                        @foreach (var item in Model)
                        {
                            var myModal = "myModal" + item.EmployeeId;
                            <tr>
                                <td>
                                    <img src="~/images/@item.EmployeePhoto" width="80" height="100" />

                                </td>
                                <td class="td-title">
                                    @Html.DisplayFor(modelItem => item.Department.DepartmentName)
                                </td>
                                <td class="td-title">
                                    @Html.DisplayFor(modelItem => item.Position.PositionName)
                                </td>
                                <td class="td-title">
                                    @Html.DisplayFor(modelItem => item.EmployeeFullName)
                                </td>
                                <td class="td-title">
                                    @Html.DisplayFor(modelItem => item.EmployeeRoom)
                                </td>
                                <td class="td-title">
                                    @Html.DisplayFor(modelItem => item.EmployeePhone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateAdoption)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateDismissal)
                                </td>                               
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-default" name="editButton" id="editButton" href="@Url.Action("Edit","Employee", new {id = item.EmployeeId})"><i class="fa fa-pencil" aria-hidden="true" title="Редактировать" data-toggle="tooltip" data-placement="top"></i></a>
                                        <a class="btn btn-default" name="detailsButton" id="detailsButton" href="@Url.Action("Details","Employee", new {id = item.EmployeeId})"><i class="fa fa-eye" aria-hidden="true" title="Просмотреть" data-toggle="tooltip" data-placement="top"></i></a>
                                        <a class="btn btn-default" name="deleteButton" id="deleteButton" href="@Url.Action("Delete","Employee", new {id = item.EmployeeId})" data-toggle="modal" data-target="#@myModal"
                                                data-whatever="@item.EmployeeId"><i class="fa fa-trash" aria-hidden="true" title="Удалить" data-toggle="tooltip" data-placement="top"></i></a>
                                    </div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="@myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog modal-sm" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Удаление</h4>
                                                </div>
                                                <div class="modal-body">
                                                    Вы точно хотите удалить: <span><b>@item.EmployeeFullName</b></span>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                                    <input type="submit" value="Удалить" class="btn btn-danger" id="btn1"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }

                    </table>

                    <div id="result"> </div>
                   
                    <div id="paginationToDelete">
                        @Html.PagedListPager(Model, page => Url.Action("AjaxPositionList", new { page }),
                         PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "result", OnSuccess = "removeListAndPagination()" }))
                        Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        check_input("Введите название должности");
        pagination();
    </script>
}