@model IEnumerable<Catalogue.Models.Tables.Employee>


<div id="results">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Department.DepartmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position.PositionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeePhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeePersonalPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeSkype)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.DepartmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position.PositionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeFullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeePhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeePersonalPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeSkype)
                </td>
                <td>
                <td>
                    <a class="btn btn-default" name="editButton" id="editButton" href="@Url.Action("Edit","Employee", new {id = item.EmployeeId})">Редактировать</a> |
                    <a class="btn btn-default" name="detailsButton" id="detailsButton" href="@Url.Action("Details","Employee", new {id = item.EmployeeId})">Просмотреть</a> |
                    <a class="btn btn-default" name="deleteButton" id="deleteButton" href="@Url.Action("Delete","Employee", new {id = item.EmployeeId})">Удалить</a>
                </td>
            </tr>
        }

    </table>
    <button class="btn btn-default" onclick="toPrevMain('list')">Назад</button>
</div>


