<table class="table table-striped" id="listTable" style="table-layout: auto; width: 100%">
    <tr>
        <th class="col-md-2">
            Административное деление
        </th>
        <th class="col-md-2">
            Орган управления
        </th>
        <th class="col-md-1">
            Почтовый индекс
        </th>
        <th class="col-md-2">
            Адрес
        </th>
        <th class="col-md-1">
            Факс
        </th>
        <th class="col-md-1">
            E-mail
        </th>
        <th class="col-md-1">
            Skype
        </th>
        <th style="text-align: center;">
            Действия
        </th>
    </tr>


    @foreach (var item in ViewBag.Items)
    {
        var myModal = "myModal" + item.AdministrationId;
        <tr>
            <td class="td-title">
                @item.Division.DivisionName
            </td>
            <td class="td-title">
                @item.AdministrationName
            </td>
            <td class="td-title">
                @item.AdministrationPost
            </td>
            <td class="td-title">
                @item.AdministrationAddress
            </td>
            <td class="td-title">
                @item.AdministrationFax
            </td>
            <td class="td-title">
                @item.AdministrationEMail
            </td>
            <td class="td-title">
                @item.AdministrationSkype
            </td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-default" name="editButton" id="editButton" href="@Url.Action("Edit","Administration", new {id = item.AdministrationId})"><i class="fa fa-pencil" aria-hidden="true" title="Редактировать" data-toggle="tooltip" data-placement="top"></i></a>
                    <a class="btn btn-default" name="detailsButton" id="detailsButton" href="@Url.Action("Details","Administration", new {id = item.AdministrationId})"><i class="fa fa-eye" aria-hidden="true" title="Просмотреть" data-toggle="tooltip" data-placement="top"></i></a>
                    <a class="btn btn-default" name="deleteButton" id="deleteButton" href="@Url.Action("Delete","Administration", new {id = item.AdministrationId})" data-toggle="modal" data-target="#@myModal"
                       data-whatever="@item.AdministrationId"><i class="fa fa-trash" aria-hidden="true" title="Удалить" data-toggle="tooltip" data-placement="top"></i></a>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="@myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Удаление</h4>
                            </div>
                            <div class="modal-body">
                                Вы точно хотите удалить: <span><b>@item.AdministrationName</b></span>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                <input type="submit" value="Удалить" class="btn btn-danger" />
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    }

</table>
<button class="btn btn-default" onclick="toPrevMain()">Вернуться к списку</button>
