@model PagedList.IPagedList<Catalogue.Models.Tables.Employee>
@using PagedList.Mvc;
<div class="row">
    <div class="col-md-12">
        <div>
            <div id="result" class="content">
                @if (Model.Count <= 0)
                {
                    <p>Нет результатов</p>
                    <table id="list-table"></table>
                    
                }
                else
                {
                    <table class="table table-hover table-responsive table-condensed  table-striped" id="list-table">
                        <caption>Список сотрудников</caption>
                        <tbody>
                            <tr>
                                <th class="col-md-3">ФИО</th>
                                <th class="col-md-3">Отдел</th>
                                <th class="col-md-2">Должность</th>
                                <th class="col-md-2">Телефон</th>
                            </tr>
                            @foreach (Catalogue.Models.Tables.Employee item in Model)
                            {
                                <tr>
                                    <td class="td-title">@Html.DisplayFor(model => item.EmployeeFullName)</td>
                                    <td class="td-title">@Html.DisplayFor(model => item.Department.DepartmentName)</td>
                                    <td class="td-title">@Html.DisplayFor(model => item.Position.PositionName)</td>
                                    <td class="td-title">(@Html.DisplayFor(model => item.Department.Administration.AdministrationCode)) @Html.DisplayFor(model => item.EmployeePhone)</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <div id="contentPager">
                        @Html.PagedListPager(
                        Model,
                        page => Url.Action("EmployeeFilter", new { page }))

                        Старница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
                    </div>
                }
                <button class="btn btn-default" onclick="toPrevMain('admin')">Вернуться к списку</button>
            </div>
        </div>
    </div>
</div>
