@model PagedList.IPagedList<Catalogue.Models.Tables.Employee>
@using PagedList.Mvc;

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div id="accordion" class="content">
                <table class="table table-hover table-responsive table-condensed">
                    <caption>Список сотрудников</caption>
                    <thead>
                        <tr>
                            <th>ФИО</th>
                            <th>Отдел</th>
                            <th>Должность</th>
                            <th>Кабинет</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Catalogue.Models.Tables.Employee item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(model => item.EmployeeFullName)</td>
                                <td>@Html.DisplayFor(model => item.Department.DepartmentName)</td>
                                <td>@Html.DisplayFor(model => item.Position.PositionName)</td>
                                <td>@Html.DisplayFor(model => item.EmployeeRoom)</td>
                            </tr>
                        }
                    </tbody>
                </table>
                Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>
        </div>
    </div>
</div>



