@model Catalogue.Models.Tables.Division

@{
    ViewBag.Title = "Добавление административного деления";
    Layout = "~/Views/Shared/_AminPanel.cshtml";
}
<div id="se-pre-con" style="display:none;"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h2>Добавление административного деления</h2>
                </div>
                <div class="content">
                    @using (Html.BeginForm("Create", "Division", FormMethod.Post, new { enctype = "multipart/form-data", id = "create-form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <!-- Field DivisionName with Validation -->
                            <div class="form-group">
                                @Html.LabelFor(model => model.DivisionName, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.DivisionName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DivisionName, "", new { @class = "text-danger validation-span" })
                                </div>
                            </div>
                            <!-- Buttons Add and Back -->
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Добавить" class="btn btn-default" id ="btn"/> |
                                    <a class="btn btn-default" name="backButton" id="backButton" href="@Url.Action("Index","Division")">Назад</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>